@media  screen and (min-width:48em) {
    .logo {
        width: 15%;
    }

    h1 {
        font-size: 2.5rem;
        margin: 4rem 15rem 1rem;
    }

    .site-description {
        font-size: 1rem;
        margin: 0 9rem 2rem;
    }

    .buttons {
        flex-direction: row;
        margin-bottom: 8rem;
    }

    .what-btn, .download-btn {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 0;
    }

    .download-btn {
        margin-right: 1rem;
    }

    .number {
        margin-bottom: 4rem;
    }

    .images img {
        width: 20%;
    }

    h3 {
        margin-bottom: 1rem;
    }

    .smarter-header {
        font-size: 2.5rem;
        margin: 0 10rem 2rem;
        line-height: 1.1;
    }

    .second-description {
        font-size: 1rem;
        margin: 0 6rem 10rem;
    }

    .footer-header {
        font-size: 2.25rem;
        margin: 0 4rem 1.5rem;
    }

    .image-filter {
        padding: 5rem 8rem 4rem;
    }

    footer p {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 2.5rem;
    }
}